.DS_Store
.Rhistory
.RData
.RDataTmp
.Ruserdata
.Rproj.user/

*_cache/
*_files/

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

*.shp
*.dbf
*.shx
*.prj
*.cpg

data/private/
data/raw/large/

id_ed25519*
*.pem
*.key
