.DS_Store
.Rhistory
.RData
.RDataTmp
.Ruserdata
.Rproj.user/

*_cache/
*_files/

*.pdf
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk


data/private/
data/raw/large/

id_ed25519*
*.pem
*.key
.positai

# allow CM boundary shapefile
!0313Fri/CM_data/cm_boundary.shp
!0313Fri/CM_data/cm_boundary.dbf
!0313Fri/CM_data/cm_boundary.shx
!0313Fri/CM_data/cm_boundary.prj
!0313Fri/CM_data/cm_boundary.cpg

# ignore large spatial data
DataSet/
0313Fri/Manchester/
0313Fri/gadm41_GBR_shp/
gadm41_AUS/
gadm41_GBR/
Manchester/
